<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019802079362-kms8ogihgd9leu2ddsnb8undhvb8ihm1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019802079362-kms8ogihgd9leu2ddsnb8undhvb8ihm1</string>
	<key>API_KEY</key>
	<string>AIzaSyAj3swmlgx-1ZOOdVLLqQjhxnvBCL_XcKM</string>
	<key>GCM_SENDER_ID</key>
	<string>1019802079362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterStarter</string>
	<key>PROJECT_ID</key>
	<string>learn-flutter-15be9</string>
	<key>STORAGE_BUCKET</key>
	<string>learn-flutter-15be9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019802079362:ios:80130d291031843f46249b</string>
</dict>
</plist>